.message {
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.message__userName {
  text-align: left;
  margin-left: 15px;
  font-size: 12px;
  color: grey;
  margin-bottom: 5px;
}

.message__card {
  display: flex;
  font-size: 15px;
  border-radius: 25px;
  max-width: 400px;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  /* background-color: #0b81ff !important; */
  background-color: #0b96f8 !important;
}

.message__guestCard {
  /* background-color: #e9e9eb !important; */
  background-color: #f1f0f0 !important;
}

.message__cardText {
  text-align: left;
  max-width: 90%;
  word-wrap: break-word;
  padding: 0px 15px;
}

.message__userCardText {
  color: white;
}

.message__timestamp {
  text-align: right;
  margin-left: auto;
  font-size: 10px;
  color: grey;
  margin-top: 5px;
}
